.stardiv{
    width: 88%;
    margin: 0 6% auto;

    margin-right: 2vw;
    margin-bottom: 4vh;

    padding-bottom: 2vh;

    padding-left: 2vw;
    /* padding-right: 2vw; */

    background-color: rgba(34, 255, 0, 0.403);
    color: rgb(0, 0, 0);

    border-radius: 0.5rem;
}

.stardiv h1{
    margin: 3% 0 0 1%;
    padding-top: 1%;
    padding-bottom: 1%;

    font-weight: 400;
    color: white;
    text-transform: uppercase;
}

.rategame{
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 84%;
    padding-left: 8%;
    padding-right: 8%;

}

.rategame .rgame img{
    width: 20vw;
    height: 12vw;

    border-radius: 0.5rem;
    box-shadow: 0 1px 10px black;

    margin-right:  2vw;
    margin-bottom: 1.5vh;
}

.rategame .rgame:last-child img{
    margin-right: 2vw;
}

.rgame .rdata{
    font-weight: 500;
    font-size: 1.3em;

    color: white;
    text-shadow: 0 1px 10px black;

    margin-bottom: 1vh;
    margin-left: 1vw;
}

/* star */

.rating{
    display: flex;

    margin-left: 1vw;
}

.rategame .rgame .s img{
    position: absolute;

    width: 2vw;
    height: 3vh;

    box-shadow: none;
    /* object-fit: cover; */
}

.s{
    margin-right: 0.5vw;
    width: 2vw;
    height: 3vh;
}

.simg.empty{
    display: block;
}

.simg.full{
    display: none;
}