
/* get user login */

.bgm{
    background-image: url("b.jpg");
    background-size: cover;
    background-repeat: none;
}

.logintxt{
    margin-top: 6%;
    text-align: center;
    text-align: 300;
}

.logintxt h2{
    font-weight: 400;
    font-size: 2em;
    text-shadow: 0 0 12px rgb(0, 27, 9);
}

.getlogin b{
    font-weight: 400;
    font-size: 2em;
    text-align: center;
}

.getlogin{
    background-color: rgba(0, 48, 0, 0.578);

    margin: 2% 8% auto;
    margin-bottom: 6%;

    border: none;

    display: flex;
    justify-content: space-around;

    padding-top: 1%;
    padding-bottom: 1%;

    padding-left: 5vw;
    padding-right: 5vw;
    
    box-shadow: 0 4px 10px black;
}

.vline{
    background-color: white;
    width: 2px;
    border-radius: 2px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 1vw;
    margin-right: 1vw;
}

.nuser label{
    margin-top: 20%;
}

.a{
    display: flex;
}

.a input{
    margin-right: 5%;
}

input{
    width: 45%;
    margin-top: 1vh;
    height: 3vh;
    margin-bottom: 2vh;

    border: none;
}

button{
    border: none;

    margin-top: 1vh;
    width: 100%;

    padding: 1vh;
    align-items: center;

    background-color: green;
    color: white;

    
    box-shadow: 0 0 10px black;
}

.new, .old{
    margin-bottom: 1%;
    font-weight: 500;
}

button:hover{
    background-color: rgb(41, 190, 41);
    font-weight: 500;
    
    text-shadow: 0 0 12px black;
    box-shadow: 0 0 10px black;
}

.a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.n{
    display: flex;
    justify-content: space-around;
}

#mid{
    display: none;
}

.a label{
    margin-top: 0;
    margin-left: 0;
    /* margin-right: 20%; */
    justify-content: space-evenly;

    float: left;
}

.a input{
    width: 100%;
    margin-right: 0;
}

.a input:last-child{
    margin-right: 0;
}

#fname{
    width: 95%;
    margin-right: 5%;
}

#lname{
    width: 95%;
    margin-left: 5%;
}

#umail{
    margin-left: 15%;
    width: 75%;
}

.pfield{
    position: relative;
    display: inline-block;

    width: 90%;
}

.pfield input{
    width: 90%;

    float: right;
}

.pfield img{
    position: absolute;
    top: 10px;
    right: 2px;

    z-index: 15;

    width: 20px;
    height: auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
}