@media (max-width: 640px) {
    /* header  */

    .header{
        padding: 1vh 5%;

        transition: 0.2s ease;
        /* background-color: red; */
    }

    #liblink{
        display: none;
    }

    .headright{
        display: none;
    }

    #logoimg{
        height: 6vh;
        transition: 0.2s ease;
    }

    /* footer */

    footer{
        padding-left: 5%;
        padding-right: 5%;
    }

    .flinks{
        max-width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        /* justify-content: center; */
    }

    .flinks{
        padding-left: 0;
    }

    .corousel h1{
        font-size: 4vw;
    }
}

/* corousel & rate  */

@media (max-width: 980px){

    .gdata{
        font-size: 5vw;
    }

    .gcover .cgame img{
        width: 20vw;
        height: 12vw;
    }

    .corousel{
        margin-bottom: 2vh;
    }

    .stardiv{
        display: inline-block;

        margin: 2vh 0 2vh 0;

        padding-top: 2%;
        padding-left: 2%;

        max-width: 85%;

    }
    .rategame{
        flex-wrap: wrap;

        margin-top: 2vw;
    }

    .rategame .rgame {
        width: 100%;
    }

    .rategame .rgame img{
        width: 40vw;
        height: 12vw;
        margin-right: 2vw;
    }

    .stardiv h1{
        font-size: 4vw;
        align-items: center;
        display: inline;

        margin: 1% 0 0 1%;
        /* padding-top: 2vh;
        padding-bottom: 1%; */

    }

    .s:last-child{
        margin-bottom: 0;
    }

    .rgame{
        display: flex;
    }

    .rgame .rating{
        float: right;
    }

    .rdata{
        width: 60%;
        height: 40%;
    }

    .rating{
        height: 50%;
        width: 30%;
        bottom: 0;
    }

}